@import "tailwindcss";
* {
  font-family: "Courier New", Courier, monospace;
}
body {
  background-color: #141414;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-scroll: none; /* IE */
  /* overflow-y: auto; */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.markdown-container {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  overflow-x: auto;
}
